<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.augurit.agcloud.agcom.agsupport.mapper.AgJsonStoreMapper">
    <sql id="allColumns">
         ID id,
         NAME "name",
         DOMAIN "domain",
         USAGE usage,
         URL url,
         JSON json,
         TAG tag,
         SORT sort,
         CREATE_TIME createTime
    </sql>

    <!--获得所有image记录-->
    <select id="getAll" resultType="AgJsonStore">
        SELECT
        <include refid="allColumns"/>
        FROM AG_JSON_STORE
    </select>


    <!--根据id获得数据-->
    <select id="getById" resultType="AgJsonStore" parameterType="java.lang.String">
        SELECT
        <include refid="allColumns"/>
        FROM AG_JSON_STORE WHERE ID = #{id}
    </select>

    <!--根据id删除一条数据-->
    <delete id="deleteById" parameterType="java.lang.String">
        DELETE FROM AG_JSON_STORE WHERE ID = #{id}
    </delete>

    <!--删除更多数据-->
    <delete id="deleteMany">
        DELETE FROM AG_JSON_STORE
        WHERE
        ID IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <!--保存-->
    <insert id="save" parameterType="com.augurit.agcloud.agcom.agsupport.domain.AgJsonStore">
        INSERT INTO AG_JSON_STORE (
          ID,
          NAME,
          DOMAIN,
          USAGE,
          URL,
          JSON,
          TAG,
          SORT,
          CREATE_TIME
        ) VALUES (
          #{id},
          #{name},
          #{domain},
          #{usage},
          #{url},
          #{json},
          #{tag},
          #{sort},
          #{createTime}
        )
    </insert>


    <!--修改-->
    <update id="update" parameterType="com.augurit.agcloud.agcom.agsupport.domain.AgJsonStore">
        UPDATE AG_JSON_STORE
        <set>
            <if test="null != name">
                NAME = #{name},
            </if>
            <if test="null != domain">
                DOMAIN = #{domain},
            </if>
            <if test="null != usage">
                USAGE = #{usage},
            </if>
            <if test="null != url">
                URL = #{url},
            </if>
            <if test="null != json">
                JSON = #{json},
            </if>
            <if test="null != tag">
                TAG = #{tag},
            </if>
            <if test="null != sort">
                SORT = #{sort},
            </if>
        </set>
        WHERE
        ID = #{id}
    </update>


    <!--按条件查询-->
    <select id="getByDomainAndUsage" resultType="AgJsonStore">
        SELECT
        <include refid="allColumns"/>
        FROM AG_IMAGE_STORE
        WHERE
        1 = 1
        <if test="null != name">
            AND NAME LIKE CONCAT(CONCAT('%', TRIM(#{name})), '%')
        </if>
        <if test="null != domain">
            AND DOMAIN LIKE CONCAT(CONCAT('%', TRIM(#{domain})), '%')
        </if>
        <if test="null != usage">
            AND USAGE LIKE CONCAT(CONCAT('%', TRIM(#{usage})), '%')
        </if>
        ORDER BY 'SORT',CREATE_TIME
    </select>


    <!--按条件查询-->
    <select id="getByDomainOrUsage" resultType="AgJsonStore">
        SELECT
        <include refid="allColumns"/>
        FROM AG_JSON_STORE
        <if test="null != name">
            WHERE
            NAME LIKE CONCAT(CONCAT('%', TRIM(#{name})), '%')
            OR DOMAIN LIKE CONCAT(CONCAT('%', TRIM(#{name})), '%')
            OR USAGE LIKE CONCAT(CONCAT('%', TRIM(#{name})), '%')
        </if>
        ORDER BY SORT,CREATE_TIME
    </select>

    <!--获取更多数据-->
    <select id="getByIds" resultType="AgJsonStore">
        SELECT * FROM AG_JSON_STORE
        WHERE
        ID IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>


</mapper>