<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.augurit.agcloud.agcom.agsupport.mapper.AgSupDatasourceMapper">
  <resultMap id="BaseResultMap" type="com.augurit.agcloud.agcom.agsupport.domain.AgSupDatasource">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="IP" jdbcType="VARCHAR" property="ip" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="PORT" jdbcType="VARCHAR" property="port" />
    <result column="DB_TYPE" jdbcType="VARCHAR" property="dbType" />
    <result column="MINCONNECTION" jdbcType="VARCHAR" property="minconnection" />
    <result column="MAXCONNECTION" jdbcType="VARCHAR" property="maxconnection" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="DRIVER_CLASS" jdbcType="VARCHAR" property="driverClass" />
    <result column="DB_URL" jdbcType="VARCHAR" property="dbUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, IP, USER_NAME, PASSWORD, SID, PORT, DB_TYPE,
    TIMEOUT, MINCONNECTION, MAXCONNECTION, TYPE, REMARK, DRIVER_CLASS,
    DB_URL
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from AG_SUP_DATASOURCE
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectByDataSourceName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from AG_SUP_DATASOURCE
    where NAME = #{name,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from AG_SUP_DATASOURCE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.augurit.agcloud.agcom.agsupport.domain.AgSupDatasource">
    insert into AG_SUP_DATASOURCE (ID, NAME, IP, 
      USER_NAME, PASSWORD, SID, 
      PORT, DB_TYPE,
      MINCONNECTION, MAXCONNECTION,
      TYPE, REMARK,
      DRIVER_CLASS, DB_URL)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{sid,jdbcType=VARCHAR}, 
      #{port,jdbcType=VARCHAR}, #{dbType,jdbcType=VARCHAR},
      #{minconnection,jdbcType=VARCHAR}, #{maxconnection,jdbcType=VARCHAR},
      #{type,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
      #{driverClass,jdbcType=VARCHAR}, #{dbUrl,jdbcType=VARCHAR})
  </insert>
  <update id="updateDataSource" parameterType="com.augurit.agcloud.agcom.agsupport.domain.AgSupDatasource">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update AG_SUP_DATASOURCE
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        IP = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        SID = #{sid,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        PORT = #{port,jdbcType=VARCHAR},
      </if>
      <if test="dbType != null">
        DB_TYPE = #{dbType,jdbcType=VARCHAR},
      </if>

      <if test="minconnection != null">
        MINCONNECTION = #{minconnection,jdbcType=VARCHAR},
      </if>
      <if test="maxconnection != null">
        MAXCONNECTION = #{maxconnection,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="driverClass != null">
        DRIVER_CLASS = #{driverClass,jdbcType=VARCHAR},
      </if>
      <if test="dbUrl != null">
        DB_URL = #{dbUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="findList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from AG_SUP_DATASOURCE
    <where>
      <if test="name != null and name !=''">
        and NAME LIKE CONCAT(CONCAT('%', #{name}), '%')
      </if>
    </where>
  </select>

  <select id="findAllList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from AG_SUP_DATASOURCE
  </select>
</mapper>